body{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'Customfont1';
    src: url(Poppins-Regular.ttf)
     format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'Customfont2';
    src: url(BebasNeue-Regular.ttf)
     format('truetype');
    font-weight:normal;
    font-style:normal;
}
.top{
    display: flex;
    padding-left: 58vw;
    padding-top: 1.5vh;
}
.top a{
    text-decoration: none;
    color: black;
     font-family: 'Customfont1',sans-serif;
    padding-left: 50px;
    font-weight: 900;
    font-size: 22px;
    font-weight: 900;
    font-size: 1.5rem;
}
.top a:hover{
    transform: translateY(-5px); /* Subtle lift effect */
}
.hamburger{
    display: none;
    cursor: pointer;
    /* justify-content: flex-end; */
    margin-left: 85vw;
    /* width: 100%; */
}
.dropdown{
    height: 10vw;
   /* justify-content: flex-end; */
}
.word{
    padding-top: 5vh;
   color: black;
    /* padding-left: 40px; */
     font-family: 'Customfont2',sans-serif;
    font: bold;
    font-size: 3.4vw;
    text-align: center;
}
.word h1{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.word p{
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-top: 0px; */
}
.toppage{
     /* background-image: url(images/aboutusbg1.jpg);
    background-repeat: no-repeat;
background-size:cover; */
    position: relative;
    z-index: 1;
    height: 60vh;
}
.toppage::before{
     opacity: 0.8; 
    position: absolute;
     content: ""; 

    inset: 0;
    z-index: -1;
     background-image: url(aboutusbg1.jpg);
    background-repeat: no-repeat;
background-size:cover;
}
.butt4{
    padding: 1vw 2vw;
       color: white;

    background-color: #007BFF;
    border-radius: 40px;
    border: 1px solid #007BFF;
       font-family:'Customfont1',sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.butt4:hover{
    background-color: blue;
}

.words{
   text-align: center; 
   font-weight: bolder;
    font-size: 7rem;
      font-family: "Customfont2",sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
section{
    background-color: white;
    height: 120vh;
    padding-left:2vw ;
    padding-right: 2vw;
    /* padding-left:20px ;
    padding-right: 10px; */
    font-family: "Customfont1",sans-serif;
    

}
.aboutimg{
    height: 30vw; 
    float: left; 
    margin-right: 10px;  
    padding-bottom: 0px;
}
section p{
    font-size: 1.3rem;
    font-weight: 700;
}
.sec2{
    background-color: #ccc;
  padding-top: 20px;
  margin-top: 0px; 
  padding-top: 0px;
        margin-top: 0px;
         height: 90vh; 
}
 .container2{
        display: flex;
        align-content: center;
        font-family:'Customfont1',sans-serif ;
     }
     .dep{
         padding-top: 0px;
        margin-top: 0px;
         margin-bottom: 0px;
    font-family:'Customfont2',sans-serif ;
   
    font-size: 7rem;
    text-align: center;
     }
 .rom1{
     width: 33.33%;
    
    text-align: center;
 }
 .rom1 img{
    height: 20vw;
    
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
 }
 .rom1 img:hover{
    transform: translateY(-5px); /* Subtle lift effect */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Even stronger shadow on hover */
 }
 .rom2{
    text-align: center;
     width: 33.33%;
 }
 .rom2 img{
    height: 20vw;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
 }
 .rom2 img:hover{
    transform: translateY(-5px); /* Subtle lift effect */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Even stronger shadow on hover */
 }
 .rom2 a{
    
     text-decoration: none;
     color: black; 
     /* padding-top: 20px; */
 }
 .rom3{
     width: 33.33%;
     text-align: center;
 }
 .rom3 img{
    height: 20vw;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
 }
 .rom3 img:hover{
    transform: translateY(-5px); /* Subtle lift effect */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Even stronger shadow on hover */
 }
 .rom3 a{
     text-decoration: none;
     color: black;
 }
 button .righticon{
    height: 2vw;
    box-shadow: 0px;
    vertical-align: middle;
 }
 


 footer{
    /* margin-top: 10px; */
    height: 40vh;
    background-color: rgb(83, 79, 79);
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: white;
     padding: 0vw 2vw;
}
.container34{
       display: flex;
       align-content: center;
      
        font-weight: bold;
        font-family: 'Customfont1',sans-serif;
    font-size: 1.2rem;
    }
.rome1{
    width: 25%;
}
.rome2{
    justify-items: center;
    justify-content: center;
    width: 25%;
}
.rome2 a{
   text-align: center;
    text-decoration: none;
    color: white; 
    /* padding-top: 20px; */
}
.rome3{
      justify-items: center;
    width: 25%;
}
.rome3 a{
    text-align: center;
    text-decoration: none;
    color: white;
}
.rome4{
    width: 25%;
      justify-items: center;
}
.rome4 img{
 height: 3vw;
}

